.discovery-popup .popup-content {
    margin: 15px;
}

.discovery-popup .greeting-label {
    font-size: 1.2em;
    font-weight: bold;
}

.discovery-popup .top-row {
    padding-bottom: 10px;
}

.discovery-popup .power-widget {
    margin-top: 10px;
    padding-top: 10px;
    border-top: 1px solid #ccc;
}

.discovery-popup .navigation-box {
    padding: 0;
    margin: 0;
}

.discovery-popup .power-widget button,
.discovery-popup .discovery-popup-content .navigation-box button{
    border-radius: 0;
    box-shadow: none;
}

.content-stack {
    margin-left: 10px;
}
