.discovery-popup {
    background-color: rgba(250, 250, 250, .975);
}
.popup-content {
    margin: 10px;
    font-size: 1em;
    font-family: "Roboto Regular", sans-serif;
    font-weight: 400;
    color: #444;
}

.navigation-box {
    padding-right: 5px;
    border-right: 1px solid #dedede;
}

.header-label {
    font-size: 1.1em;
    font-family: "Roboto Light", sans-serif;
    font-weight: bolder;
}

.top-row {
    padding-bottom: 10px;
}

.settings-page {
    padding: 10px;
}

.text-secondary {
    color: #777;
}

.text-size-small {
    font-size: .85em;
}

.text-size-medium {
    font-size: 1.85em;
}
.font-italic {
    font-style: italic;
}

.fw-bold {
    font-weight: bold;
}

.fw-100 {
    font-weight: 100;
}

.fw-200 {
    font-weight: 200;
}

.fw-300 {
    font-weight: bolder;
}

.fw-400 {
    font-weight: 400;
}

.fw-500 {
    font-weight: 500;
}

.fw-600 {
    font-weight: 600;
}

.fw-700 {
    font-weight: 700;
}

.fw-900 {
    font-weight: 900;
}

.bg-white {
    background-color: #fff;
}

.text-blue {
    color: #2D5C8C;
}
.text-danger {
    color: #d9534f;
}

.border-1 {
    border-width: 1px;
    border-style: solid;
}

/* basic padding */
.p-0 {
    padding: 0;
}
.p-1 {
    padding: .125em;
}
.p-2 {
    padding: .25em;
}
.p-3 {
    padding: .5em;
}
.p-4 {
    padding: .75em;
}
.p-5 {
    padding: 1em;
}
/* bottom padding */
.pb-0 {
    padding-bottom: 0;
}
.pb-1 {
    padding-bottom: .125em;
}
.pb-2 {
    padding-bottom: .25em;
}
.pb-3 {
    padding-bottom: .5em;
}
.pb-4 {
    padding-bottom: .75em;
}
.pb-5 {
    padding-bottom: 1em;
}
/* top padding */
.pt-0 {
    padding-top: 0;
}
.pt-1 {
    padding-top: .125em;
}
.pt-2 {
    padding-top: .25em;
}
.pt-3 {
    padding-top: .5em;
}
.pt-4 {
    padding-top: .75em;
}
.pt-5 {
    padding-top: 1em;
}
/* left padding */
.ps-0 {
    padding-left: 0;
}
.ps-1 {
    padding-left: .125em;
}
.ps-2 {
    padding-left: .25em;
}
.ps-3 {
    padding-left: .5em;
}
.ps-4 {
    padding-left: .75em;
}
.ps-5 {
    padding-left: 1em;
}
/* right padding */
.pe-0 {
    padding-right: 0;
}
.pe-1 {
    padding-right: .125em;
}
.pe-2 {
    padding-right: .25em;
}
.pe-3 {
    padding-right: .5em;
}
.pe-4 {
    padding-right: .75em;
}
.pe-5 {
    padding-right: 1em;
}

/* basic margin */
.m-0 {
    margin: 0;
}
.m-1 {
    margin: .125em;
}
.m-2 {
    margin: .25em;
}
.m-3 {
    margin: .5em;
}
.m-4 {
    margin: .75em;
}
.m-5 {
    margin: 1em;
}
/* left margin */
.ms-0 {
    margin-left: 0;
}
.ms-1 {
    margin-left: .125em;
}
.ms-2 {
    margin-left: .25em;
}
.ms-3 {
    margin-left: .5em;
}
.ms-4 {
    margin-left: .75em;
}
.ms-5 {
    margin-left: 1em;
}
/* right margin */
.me-0 {
    margin-right: 0;
}
.me-1 {
    margin-right: .125em;
}
.me-2 {
    margin-right: .25em;
}
.me-3 {
    margin-right: .5em;
}
.me-4 {
    margin-right: .75em;
}
.me-5 {
    margin-right: 1em;
}
/* top margin */
.mt-0 {
    margin-top: 0;
}
.mt-1 {
    margin-top: .125em;
}
.mt-2 {
    margin-top: .25em;
}
.mt-3 {
    margin-top: .5em;
}
.mt-4 {
    margin-top: .75em;
}
.mt-5 {
    margin-top: 1em;
}
/* bottom margin */
.mb-0 {
    margin-bottom: 0;
}
.mb-1 {
    margin-bottom: .125em;
}
.mb-2 {
    margin-bottom: .25em;
}
.mb-3 {
    margin-bottom: .5em;
}
.mb-4 {
    margin-bottom: .75em;
}
.mb-5 {
    margin-bottom: 1em;
}

.bg-red {
    background: red;
}
.bg-green {
    background: green;
}

.bg-white {
    background: #fff;
}
.bg-yellow {
    background: yellow;
}

.middot-medium {
    margin-left: 8px;
    margin-right: 8px;
}

.power-widget {
    margin-top: 10px;
    padding-top: 10px;
    border-top: 1px solid #ccc;
}

button.hover {
    background: #f6f6f6;
}

button.active {
    background: #e6e6e6;
}

.no-border {
    border: none
}

.no-shadow {
    box-shadow: none
}

.no-background {
    background: none;
}

.section-label {
    padding-bottom: 5px;
}

.card {
    border-radius: 10px;
    border: 1px solid rgba(222, 222, 222, .75);
    box-shadow: 2px 2px 2px rgba(222, 222, 222, .5);
    transition: box-shadow 250ms ease-in;
}

.card .card-title {
    font-family: "Roboto Light", sans-serif;
    font-weight: bold;
    font-size: .9em;
}

.card .card-image {
    background-color: #eee;
}

.card .card-body {
    padding: 10px;
}

.content-stack {
    margin-left: 10px;
}

.news-feed-layout {
    padding-right: 5px;
    padding-bottom: 10px;
}

.applications-widget .application-item {
    padding: 0.5em;
    border-radius: 10px;
    transition: background-color 250ms ease-in-out;
}
.applications-widget .application-item.hover {
    /*background-color: rgba(255, 255, 255, 0.75);*/
    background-color: rgba(226, 241, 254, .75);
}

.feed-widget scrollbar,
.applications-widget scrollbar,
.settings-dialog scrollbar {
    background: transparent;
    border: none;
    min-width: 4px;   /* vertikal */
    min-height: 4px;  /* horizontal */
}

.feed-widget scrollbar slider,
.applications-widget scrollbar slider,
.settings-dialog scrollbar slider {
    background-color: rgba(80, 80, 80, 0.45); /* der „Griff“ */
    /*border-radius: 3px;*/
    min-width: 4px;
    min-height: 4px;
}

.feed-widget scrollbar trough,
.applications-widget scrollbar trough,
.settings-dialog scrollbar though  {
    background: transparent;  /* die Spur unsichtbar */
    border: none;
}

.feed-widget .card,
.applications-widget .card {
    background-color: #fff;
    transition: background-color 250ms ease-in-out, box-shadow 250ms ease-in-out, border 250ms ease-in-out;
}

.feed-widget .feed-item.hover {
    background-color: rgba(240, 249, 255, .75);
}

.feed-widget notebook, 
.feed-widget notebook > stack, 
.feed-widget notebook > header, 
.feed-widget notebook > header tab {
    background-color: transparent;
    border: none;
}

.feed-widget notebook > header {
    margin-top: -15px;
}
.feed-widget notebook > header tab {
    padding-top: 8px;
    padding-bottom: 0;
    padding-left: 10px;
    padding-right: 10px;
}

.weather-widget-day {
    background-image: linear-gradient(180deg, #f0f9ff, #d1eeff);
    color: #444;
}

.weather-widget {
    padding: 8px 6px 5px;
}

.weather-widget .weather-forecast-widget{
    padding-top: 5px;
    padding-bottom: 5px;
    border: 0;
    box-shadow: none;
}

.weather-widget-day .weather-forecast-widget {
    background-color: rgba(255, 255, 255, 0.75);
}

.weather-widget-night {
    background-image: linear-gradient(180deg, #284368, #223141);
    color: #fff;
}

.weather-widget-night .weather-forecast-widget {
    background-color: rgba(255, 255, 255, 0.1);
}

.settings-page .feed-list {
    border: 1px solid #d9d9d9;
    border-radius: 5px;
    padding: 5px;
}

.settings-page .feed-row {
    transition: background-color 250ms ease-in-out;
}

.settings-page .feed-row.hover {
    background-color: #f6f6f6;
}

.border-bottom {
    border-bottom: 1px solid #ddd;
}

.settings-dialog .list-item {
    background: transparent;
    border: 1px solid transparent;
    margin: 2px;
    border-radius: 3px;
}
.settings-dialog .list-item.selected {
    background: rgba(204, 232, 255, .65);
    border: 1px solid rgba(204, 232, 255, .95);
}