.discovery-popup {
    background-color: rgba(255, 255, 255, .975);
}
.discovery-popup .popup-content {
    margin: 15px;
    font-size: 1em;
    font-family: "Roboto Regular", sans-serif;
    font-weight: 400;
    color: #444;
}

.navigation-box {
    padding-right: 20px;
    border-right: 1px solid #dedede;
}

.discovery-popup .header-label {
    font-size: 1.1em;
    font-family: "Roboto Light", sans-serif;
    font-weight: bolder;
    padding-top: 3px;
}

.discovery-popup .top-row {
    padding-bottom: 10px;
}

.discovery-popup .text-secondary {
    color: #777;
}

.discovery-popup .text-size-small {
    font-size: .85em;
}

.discovery-popup .text-size-medium {
    font-size: 1.85em;
}

.discovery-popup .fw-bold {
    font-weight: bold;
}

.discovery-popup .fw-100 {
    font-weight: 100;
}

.discovery-popup .fw-200 {
    font-weight: 200;
}

.discovery-popup .fw-300 {
    font-weight: bolder;
}

.discovery-popup .fw-400 {
    font-weight: 400;
}

.discovery-popup .fw-500 {
    font-weight: 500;
}

.discovery-popup .fw-600 {
    font-weight: 600;
}

.discovery-popup .fw-700 {
    font-weight: 700;
}

.discovery-popup .fw-900 {
    font-weight: 900;
}

.discovery-popup .bg-white {
    background-color: #fff;
}

.discovery-popup .text-blue {
    color: #2D5C8C;
}

.discovery-popup .p-0 {
    padding: 0;
}

.discovery-popup .p-1 {
    padding: .125em;
}

.discovery-popup .p-2 {
    padding: .25em;
}

.discovery-popup .p-3 {
    padding: .5em;
}

.discovery-popup .ps-1 {
    padding-left: .125em;
}

.discovery-popup .pe-1 {
    padding-right: .125em;
}

.discovery-popup .pt-1 {
    padding-top: .125em;
}

.discovery-popup .pb-1 {
    padding-bottom: .125em;
}

.discovery-popup .ps-2 {
    padding-left: .25em;
}

.discovery-popup .pt-2 {
    padding-top: .25em;
}

.discovery-popup .pb-2 {
    padding-bottom: .25em;
}

.discovery-popup .pe-2 {
    padding-right: .25em;
}

.discovery-popup .m-0 {
    margin: 0;
}

.discovery-popup .bg-red {
    background: red;
}

.discovery-popup .bg-white {
    background: #fff;
}

.discovery-popup .middot-medium {
    margin-left: 8px;
    margin-right: 8px;
}

.discovery-popup .power-widget {
    margin-top: 10px;
    padding-top: 10px;
    border-top: 1px solid #ccc;
}

.discovery-popup .navigation-box {
    padding: 0;
    margin: 0;
}

.discovery-popup .header-widget {
    padding-bottom: 20px;
}

.discovery-popup button {
    border-radius: 0;
    box-shadow: none;
    background: none;
    border: 0 none;
}

.discovery-popup button:hover {
    background: #f6f6f6;
}

.discovery-popup button.active {
    background: #e6e6e6;
}

.discovery-popup .card {
    border-radius: 10px;
    border: 1px solid rgba(222, 222, 222, .5);
    box-shadow: 2px 2px 2px rgba(222, 222, 222, .5);
    transition: box-shadow 250ms ease-in;
}

.discovery-popup .card .card-title {
    font-family: "Roboto Light", sans-serif;
    font-weight: bold;
    font-size: .9em;
}

.discovery-popup .card .card-image {
    background-color: #eee;
}

.discovery-popup .card .card-body {
    padding: 10px;
}

.discovery-popup .card.no-border {
    border: none
}

.discovery-popup .card.no-shadow {
    box-shadow: none
}

.discovery-popup .content-stack {
    margin-left: 10px;
}

.discovery-popup .news-feed-layout {
    padding-right: 5px;
    padding-bottom: 10px;
}

.discovery-popup .feed-widget scrollbar {
    background: transparent;
    border: none;
    min-width: 4px;   /* vertikal */
    min-height: 4px;  /* horizontal */
}

.discovery-popup .feed-widget scrollbar slider {
    background-color: rgba(80, 80, 80, 0.45); /* der „Griff“ */
    /*border-radius: 3px;*/
    min-width: 4px;
    min-height: 4px;
}

.discovery-popup .feed-widget scrollbar trough {
    background: transparent;  /* die Spur unsichtbar */
    border: none;
}

.discovery-popup .feed-widget .card {
    background-color: #fff;
}

.discovery-popup .weather-widget-day {
    background-image: linear-gradient(180deg, #f0f9ff, #d1eeff);
    color: #444;
}

.discovery-popup .weather-widget {
    padding: 15px 8px 5px;
}

.discovery-popup .weather-widget .weather-forecast-widget{
    padding-top: 10px;
    padding-bottom: 10px;
}

.discovery-popup .weather-widget-day .weather-forecast-widget {
    background-color: rgba(255, 255, 255, 0.75);
}

.discovery-popup .weather-widget-night {
    background-image: linear-gradient(180deg, #284368, #223141);
    color: #fff;
}

.discovery-popup .weather-widget-night .weather-forecast-widget {
    background-color: rgba(255, 255, 255, 0.1);
}


